
@{
    ViewBag.Title = "YouDeletedTheUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style> 
    .no-users {
        font-size: 24px;
        text-align: center;
        margin-bottom: 80px;
        margin-top:150px;
    }
</style>

<p class="no-users">The user was successfully deleted!</p>