
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Add margin to the container element */
    .cont {
        margin: 30px 310px 310px 310px; /* top, right, bottom, left */
    }


    /* Add padding to the content within the container */
   
    }
</style>

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="cont">
        <div class="row">
            <div >
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="../Content/img/blog/blog-1.jpg">
                        <div class="blog__pic__inner">


                        </div>
                    </div>
                    <div class="blog__item__text">
                        <h2>Delivering Kisses And Miracles</h2>
                        <p>
                            Decorating cakes is a fun and creative way to add a personal touch to your baked goods.
                            There are endless possibilities when it comes to cake decoration, from intricate piping
                            designs to simple yet elegant floral arrangements. One popular technique is using fondant
                            to create a smooth and polished look, allowing for the addition of colorful and intricate
                            designs. Alternatively, using fresh fruit or edible flowers can add a natural and organic
                            element to your cake. Whatever your preference, decorating cakes is a great way to showcase
                            your baking skills and add a special touch to any occasion. With a little practice and imagination,
                            the possibilities for cake decoration are truly endless.
                        </p>

                    </div>
                </div>
                <div>
                    <div class="blog__item__pic set-bg" data-setbg="../Content/img/blog/blog-2.jpg">
                        <div class="blog__pic__inner">


                        </div>
                    </div>
                    <div class="blog__item__text">
                        <h2>Indulge in Decadent Delights with Chocolate Cakes</h2>
                        <p>
                            Chocolate cakes are the ultimate indulgence for any dessert lover.
                            Whether you prefer dark, milk, or white chocolate, there is a chocolate
                            cake recipe out there that will satisfy your cravings. From rich and fudgy
                            cakes to light and airy sponge cakes, there is no shortage of variety when it
                            comes to chocolate cakes. Adding different ingredients such as nuts, fruits, or
                            spices can elevate the flavors and textures of your cake even further. Chocolate
                            cakes can be decorated in various ways, from simple dustings of powdered sugar to
                            elaborate ganache drizzles and intricate piping designs.
                            Whether you're celebrating a special occasion or simply treating yourself to
                            a sweet indulgence, chocolate cakes are sure to delight your taste buds and
                            leave you feeling satisfied.
                        </p>

                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="../Content/img/blog/blog-3.jpg">
                        <div class="blog__pic__inner">


                        </div>
                    </div>
                    <div class="blog__item__text">
                        <h2>Elevate Your Cakes with Delicious Fillings</h2>
                        <p>
                            Adding a filling to your cake can take it to the next level of deliciousness.
                            Fillings can add a burst of flavor and texture to the cake, making it more interesting
                            and satisfying. Some popular cake fillings include fruit compotes, custards, whipped cream,
                            and buttercream frosting. Fruit fillings like strawberry, raspberry, or peach can add a
                            fresh and tangy taste, while chocolate and caramel fillings can satisfy any sweet tooth.
                            Custards and whipped cream fillings can provide a light and airy texture to the cake,
                            making it a perfect summertime treat. When adding a filling to your cake,
                            it's essential to make sure it's evenly distributed and doesn't overpowe
                            r the cake's flavor. Using a piping bag or spoon can help you add the filling with precision.
                            Whether you're baking a cake for a special occasion or a casual dessert,
                            adding a filling can make it extra special and memorable.
                        </p>

                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="../Content/img/blog/blog-4.jpg">
                        <div class="blog__pic__inner">



                        </div>
                    </div>
                    <div class="blog__item__text">
                        <h2>The Key Ingredient</h2>
                        <p>
                            Flour is a crucial ingredient in cake baking, as it provides
                            the structure and texture of the final product. Choosing
                            the right type of flour can make a significant difference in
                            the taste and consistency of your cake. All-purpose flour is
                            the most commonly used type of flour in cake baking, as it
                            strikes a balance between protein content and starch. However,
                            some cake recipes may call for cake flour, which has a lower protein
                            content and finer texture, resulting in a softer and more tender cake.
                            Whole wheat flour and alternative flours such as almond flour or coconut
                            flour can also be used for a unique flavor and texture profile.
                            It's essential to measure your flour accurately, as too much or too little
                            can affect the final result. Sifting flour before using it can also ensure a
                            smoother and more consistent batter. Overall, flour is a vital component
                            in cake baking, and understanding its properties can lead to better baking results.
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">

                    </div>
                    <div class="blog__sidebar__item">

                    </div>

                </div>
                <div class="blog__sidebar__item">

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Js Plugins -->
<script src="../Content/js/jquery-3.3.1.min.js"></script>
<script src="../Content/js/bootstrap.min.js"></script>
<script src="../Content/js/jquery.nice-select.min.js"></script>
<script src="../Content/js/jquery.barfiller.js"></script>
<script src="../Content/js/jquery.magnific-popup.min.js"></script>
<script src="../Content/js/jquery.slicknav.js"></script>
<script src="../Content/js/owl.carousel.min.js"></script>
<script src="../Content/js/jquery.nicescroll.min.js"></script>
<script src="../Content/js/main.js"></script>
